<head>
  <title>Movie Lovers Ultimate Search</title>
</head>
<body>
  <h1>The ultimate search for the movie lover in you!</h1>

<h2><p> Enter information about any movie below. </p> </h2> </br>
<p> This will help you gain a deeper understanding of the movies </p>
<p> that you happen to know and love! </p> </br>
<p> Have fun! </p>
</body>

<form action="/search_results" method="GET">
<input type="text" name="search_keyword" placeholder="Movie keyword"> 
<button>Search by Keyword</button>

